 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <img class="profilePic" id="profilePic" src="img/Prof1.jpg" align="center">
            <section class="rw-wrapper">
          <h4 class="rw-sentence">
          <span>Things I do:</span>
            <div class="rw-words rw-words-1">
                <span>create</span>
                <span>deliver</span>
                <span>learn</span>
                <span>research</span>
                <span>design</span>
                <span>manage</span>
            </div>
           </h4>
       </section>
   </div>
 </div>
   </div>
 </section>
 <section>
                <article class="about about-font">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-2">
                            <b><p>Web Developer and Project Manager with a background in operations, international relations and program facilitation.</p></b> </br>
                            <p>From improv, travel, Earth Science, Religion, Diplomacy and Journalism, I am always looking to contribute to new initiatives and projects.</p></br>
                            <p>My journey to code started at a DC Startup Weekend conference. Everyone-- designers, developers, and 'other'-- had business ideas. The real demand was to find a talented developer to make the idea happen.</p></br>
                            <p>This demand sparked my interest. I started to do online tutorials in coding. I took a Java Programming class. I joined and became an organizer for DC Rails Girls. And I went through a coding bootcamp focusing on javascript and the MEAN stack.</p></br>
                            <p>During the day I have largely been focused on business operations. By night, I've had my own business doing research for award-winning authors and artists. My clients increasingly request web design support. Now that I have more training as a web developer and, most importantly, a toolkit to keep learning new skills, I am looking forward to merging my past experiences and focus on product management and web development.</p></br>
                        </div>
                    </div>
                </article>
            </section>