<!-- 1st row verticaly centered text in the square columns -->

<div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                <img class="rs" src="../img/goodform.jpg"/>
                Good-Form. </br>
                <a href="https://github.com/emeraldaly/good-form" target="#" class="btn btn-default" role="button">Github</a>
                <a href="https://goodform.herokuapp.com/" class="btn btn-default" target="#" role="button">Deployed</a>
                <button class="btn btn-default" ng-click="showDetails = ! showDetails"> Description</button> 
                    <div ng-show="showDetails">
                        <p>This was a group project using the full MEAN stack. It is an organizational tool for a bootcamp or other educational program.</p>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell">
               <img class="rs" src="../img/ru.jpg"/>
                RU Flyer. </br>
                <a href="https://github.com/evanbates/rutgersflyers" target="#" class="btn btn-default" role="button">Github</a>
                <a href="https://rutgersflyers.herokuapp.com/" class="btn btn-default" target="#" role="button">Deployed</a>
                <button class="btn btn-default" ng-click="showDetails = ! showDetails"> Description</button> 
                    <div ng-show="showDetails">
                        <p>This was a group project using front and back end technologies linked to a database. It is an app to learn about and leave reviews for services, venues, events, and restaurants near Rutgers New Brunswick.</p>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                <img class="rs" src="../img/comedians.jpg"/>
                Click Game. </br>
                <a href="https://github.com/emeraldaly/clickComedians" target="#" class="btn btn-default" role="button">Github</a>
                <a href="https://clickable-comedians.herokuapp.com/" class="btn btn-default" target="#" role="button">Deployed</a>
                <button class="btn btn-default" ng-click="showDetails = ! showDetails"> Description</button> 
                    <div ng-show="showDetails">
                        <p>This was an early front end jquery project. See how many female comedians you can click before the timer runs out.</p>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- 2nd row verticaly centered images in square columns -->

<div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                <img class="rs" src="../img/pinkus.jpg"/>
                Ari Pinkus. </br>
                <a href="http://www.aripinkus.com/" class="btn btn-default" target="#" role="button">Deployed</a>
                <button class="btn btn-default" ng-click="showDetails = ! showDetails"> Description</button> 
                    <div ng-show="showDetails">
                        <p>This was a website I designed for a client using wordpress before going through the Rutgers Coding Bootcamp.</p>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell">
               <img class="rs" src="../img/mindgood.jpg"/>
                Mind the Good. </br>
                <a href="http://mindthegood.com/" class="btn btn-default" target="#" role="button">Deployed</a>
                <button class="btn btn-default" ng-click="showDetails = ! showDetails"> Description</button> 
                    <div ng-show="showDetails">
                        <p>This was a project I put together a few years ago with Wordpress. I will be further building it out and enhancing it with the MEAN stack.</p>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                <img class="rs" src="../img/flfem.jpg"/>
                Flourishing Females. </br>
                <a href="http://flourishingfemales.com/" class="btn btn-default" target="#" role="button">Deployed</a>
                <button class="btn btn-default" ng-click="showDetails = ! showDetails"> Description</button> 
                    <div ng-show="showDetails">
                        <p>This was a project I put together a few years ago with Wordpress. I will be further building it out and enhancing it with the MEAN stack.</p>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- 3rd row responsive images in background with centered content -->

<!-- <div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                <img class="rs" src="../img/yellow.jpg"/>
                Rock, Paper, Scissor. </br>
                <a href="https://github.com/emeraldaly/rockPaperScissors" target="#" class="btn btn-default" role="button">Github</a>
                <a href="https://wright-rps.herokuapp.com"  class="btn btn-default" target="#" role="button">Deployed</a>
                <button class="btn btn-default" ng-click="showDetails = ! showDetails"> Description</button> 
                    <div ng-show="showDetails">
                        <p>Play against the machine in a game of Rock, Paper, Scissor.</p>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell">
               <img class="rs" src="../img/yellow.jpg"/>
                Indian Fairy Tales. </br>
                <a href="#" target="#" class="btn btn-default" role="button">Github</a>
                <a href="#" class="btn btn-default" target="#" role="button">Deployed</a>
                <button class="btn btn-default" ng-click="showDetails = ! showDetails"> Description</button> 
                    <div ng-show="showDetails">
                        <p>This was an app I built using Angular and ng-router. My next steps will be to add a MadLibs component where you can adapt the stories with your own input.</p>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                <img class="rs" src="../img/yellow.jpg"/>
                Goal Site. </br>
                <a href="#" target="#" class="btn btn-default" role="button">Github</a>
                <a href="#" class="btn btn-default" target="#" role="button">Deployed</a>
                <button class="btn btn-default" ng-click="showDetails = ! showDetails"> Description</button> 
                    <div ng-show="showDetails">
                        <p>This is an app to track set and accomplished goals. I'm going to look into adding the new Google goals calendar feature as well as build out a database to store both individual goals and goals from group events.</p>
                    </div>
            </div>
        </div>
    </div>
</div> -->
    <section>
            <h3>Book Projects</h3>
            <ul>
                <li><a href="http://www.ericweinerbooks.com/books/man-seeks-god/description/" target="#">Man Seeks God, My Flirtations with the Divine</a> by Eric Weiner</li>
                <li><a href="http://stevelevinebooks.com/" target="#">The Powerhouse: Inside the Invention of a Battery to Save the World</a> by Steve LeVine</li>
                <li><a href="http://www.ericweinerbooks.com/" target="#">The Geography of Genius</a> by Eric Weiner</li>
            </ul>
        </section>
        <div class="divider"></div>
        <section>
            <h3>Startup Projects</h3>
            <ul>
                <li>The Perfect Gift, StartUp Weekend DC 2011</li>
                <li>Smart Check-In, Startup Weekend Paris 2012</li>
                <li>Analog.us, DC 2012</li>
            </ul>
        </section>
<!-- END OF LAYOUT, following juts for the demo -->

